*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    text-align: center;
}

h1 {
    font-size: 60px;
   
}

.large-laptops, .laptops, .tablet, .mobile {
    font-size: 40px;
     display: none;
}

@media (width < 1441px){
    body {
        background-color: forestgreen;
    }
    .large-laptops {
        display:block;
    }
}

@media  (width < 1025px){
    body {
        background-color: darkgoldenrod;
    }
    .laptops {
        display:block;
    }
    .large-laptops {
        display:none;
    }
}

@media (width < 769px){
    body {
        background-color: aqua;
    }
    .tablet {
        display:block;
    }

    .laptops {
        display:none;
    }
}

@media (width < 426px){
    body {
        background-color: crimson;
    }
    .mobile {
        display:block;
    }

    .tablet {
        display:none;
    }
}